{#
/**
 * @file candidate.html.twig
 * Default theme implementation to present Candidate data.
 *
 * This template is used when viewing Candidate pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_candidate()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('candidate') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
